*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{
    margin-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 40px;
}

.navigation_links a{
    text-decoration: none;
    padding-left: 20px;
}

#navigation{
    display: flex;
    justify-content: space-between;
}

#showcase {
    margin-left: 70px;
    width: 290px;
    height: 280px;
    padding-top: 150px;
    color: #33323D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 150px;
}

.showcase_button{
    display: flex;
    align-items: center;
    padding-top: 30px;

}

.showcase_button img{
    height: 30px;
    background: #203A4C;

}

.showcase_btn button{
    background: #203A4C;
    padding: 6px;
    color: #ffffff;
}


#about_me {
    display: flex;
    flex-direction: space-between;
    align-items: center;
    margin: 60px 0px 60px 0px;
}

.about_img {
    width: 45%;
    margin-right: 40px;
    padding-left: 70px;

}

.line {
    height: 2px;
    width: 100%;
    background: purple;
    margin-right: 20px;
}

.go_to_profile{
    margin-bottom: 20px;
}

.go_to_profile button {
    padding: 10px 30px 10px 30px;
}

.about_img img{
    height: 497px;
    width: 412px;
}

.short_profile{
    width: 40%;
    font-size: 16px;
    color: #33323D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
}

.short_profile h2{
    margin-top: 20px;
}

.go_to_profile {
    padding-top: 50px;
}

#contact_me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.contactme_text{
    margin-right: 40px;
}

.contact_button button {
    padding: 10px 30px 10px 30px;
}

#footer{
    background-color: #33323D;
    color: #ffffff;
    padding-left: 60px;
    padding-right: 60px;
}

#footer a{
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    padding-left: 15px;
}
#footer img{
    width: 30px;
}


#footer_navigation{
    display: flex;
    height: 80px;
    justify-content: space-between; /*Horizontal*/
    align-items: center;
}